/*body  background css*/
body{
    padding: 1;
    margin-right:1;
    background: aqua;
    background-size: cover;
}

/*rotate  image-01 css*/
.rotate_01 {
    display: block;
    position: absolute;
    margin-top :20px;
    margin-left:20px;
    width: 100px;
    height: 100px;
    margin:30px 0 0 30px;
    -webkit-transition: -webkit-transform 1s;
}
.rotate_01:hover{
    -webkit-transform: rotate(360deg) translateZ(0);
}
